.mag-component-layout {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: table;
    width: 100%; }
    .mag-component-layout.hidden {
        display: none; }
    .mag-component-layout > div {
        display: table-cell;
        text-align: left;
        vertical-align: middle;
        height: 100%; }
